body {
    font-family: 'Lato', sans-serif;
    margin: 7em;
    background: linear-gradient(#d92efc, #15dcff) fixed;
}

.ndiv {
    text-rendering: auto;
    color: -internal-light-dark(rgb(252, 0, 0), white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    position: relative;
    left: 0.5em;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    margin: 1em;
    font: 400 10px Arial;
   
}

.dselect {
   
    text-rendering: auto;
    color: -internal-light-dark(#f7ff83, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.fselect {
    font-size: 18px;
    height: 40px;
    text-align: center;
    background: #ffffff center right no-repeat;
    border-radius: 1cm;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    width: 100%;
}
.foption{
    text-align: center;
}
.flabel {
    display: block;
    font-size: 26px;
    font-weight: 700;
    height: 20px;
    float: left;
    width: 100%;
    padding-bottom: 1cm;
}



.finput {
    display: block;
    border: 1px solid #DDDDDD;
    border-radius: 1cm;
    width: 600px;
    height: 40px;
    color: #373737;
    margin-bottom: 1mm;
    float:right;
}
.creditCalc_small_select {
    width: 140px;
    
    float: right;
}
.cinput {
    display: block;
    border: 1px solid #DDDDDD;
    border-radius: 1cm;
    width:500px;
    height: 40px;
    color: #373737;
    position: absolute;
    bottom: 0.0006cm;

}
.fbutton {
    background: #00ff6a;
    color: #182547;
    border-radius: 1cm;
    font-family: 'Lato', sans-serif;
    height: 60px;
    width: 300px;
    font-size: 30px;
}
.divbutt {
    padding: 20px;
}


.fcheckbox {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 28px;
}


.fcheckbox_label {
    color: #0c0909;
}